
# IDE stuff
.idea

# MVN stuff
.mvn

# VS code
.vscode

# env stuff
.venv
.env

# Ignore Python cache directories and compiled files
__pycache__/
*.py[cod]
*.cpython-*

# Help file
# TODO UNCOMMENT IN REAL PROJECT!!
#HELP.md

# DS_Store
.DS_Store